{% extends 'admin/master.html' %}
{% block body %}
<body>
<div class="container pt-5 mt-5">
    <div class="container-fluid">
        <div class="row">
            <a href="#"><strong><span class="ti-crown"></span></strong></a>
            <hr>
            <div class="panel-heading">
                <button class="button-add" role="button" name="add" id="addClass">Add New Class</button>
            </div>

            <table id="classList" class="table table-bordered table-striped mt-5 text-center">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                    <th>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Toán</td>
                    <td></td>
                    <td></td>
                    <td>
<!--                        <a href="{{ url_for('edit_class', class_id=class.id) }}"></a>-->
                        <button class="button button-edit">Edit</button>
                    </td>
                    <td>
<!--                        <a href="{{url_for('delete_class', class_id=class.id)}}-->
                        <button class="button button-delete">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


<div id="classModal" class="modal fade">
    <div class="modal-dialog">
        <form method="post" id="classForm" action="">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-plus"></i> Add Class</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Class Name</label>
                        <input type="text" class="form-control" id="cname" name="cname" placeholder="Class Name"
                               required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="classid" id="classid"/>
                    <input type="hidden" name="action" id="action" value=""/>
                    <input type="submit" name="save" id="save" class="button button-add2" value="Save"/>
                    <button class="button button-delete" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
{% endblock %}