{% extends "layout/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
   <div class="container-fluid px-0 px-md-5 mb-5 pt-5" style="background: #60c7c1">
        <div class="row align-items-center px-3">
            <div class="col-lg-6 text-center text-lg-left">
                <h4 class="text-white mb-4 mt-5 mt-lg-0">Vision - Mission</h4>
                <h1 class="display-3 font-weight-bold text-white">New Approach to General  Education</h1>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <img class="img-fluid mt-5" src="static/images/header.png" alt="">
            </div>
        </div>
    </div>
{% endblock %}